<!-- Video -->
<div class="row">
    <div class="col-xs-12">
        <video #video class="video"></video>
    </div>
</div>
<!-- Call modal -->
<app-dialog [(visible)]="showDialog">
    <h1>Call from {{ notification.from }}</h1>
    <button (click)="play()" class="btn btn-primary">Accept</button>
</app-dialog>
<!-- Buttons  -->
<div class="row">
    <div class="col-xs-12">
        <button (click)="call()" class="btn btn-primary">Call</button>
        <button (click)="stop()" class="btn btn-primary">Stop</button>
    </div>
</div>