<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Stream app</a>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->

<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="sidebar-nav">
                <br>
                <br>
                <br>
                <button (click)="add()" class="btn btn-primary">add</button>
                <ul *ngFor="let contactname of contacts" class="nav">
                    <li><a href="#/contact/{{ contactname }}">{{ contactname }}</a></li>
                    <li class="nav-divider"></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->

        <div class="col-xs-12 col-sm-9">
            <br>
            <br>
            <div class="jumbotron">
                <!-- Call confirm modal -->
                <app-confirm></app-confirm>
                <!-- router outlet -->
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>

</div>
<!--/.container-->